@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px) {
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #search-input {
        padding: 10px;
        width: 200px;
        border: 1px solid #0366d0;
        border-radius: 4px;
        transition: box-shadow 0.3s ease;
    }

    #search-input:focus {
        box-shadow: 0 4px 20px rgba(3, 102, 208, 0.5);
        outline: none;
    }
    
    .search-heading {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
        color: darkblue;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    th {
        background-color: #0366d0;
        color: white;
        padding: 10px;
        text-align: left;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
        color: white;
    }
    
    td {
        padding: 10px;
        border: 1px solid #0366d0;
        text-align: center;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        color: darkblue;
    }

    body {
        background-color: rgba(0, 255, 255, 0.286);
    }
    
    h1 {
        text-align: center;
        font-family: 'Roboto';
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        color: darkblue;
    }
    
    p { 
        text-align: center;
        font-family: 'Merriweather';
        font-size: 22px;
        font-weight: 400;
        line-height: 38px;
        color: darkblue;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 100px 200px;
    }

}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #search-input {
        padding: 10px;
        width: 200px;
        border: 1px solid #0366d0;
        border-radius: 4px;
        transition: box-shadow 0.3s ease;
    }

    #search-input:focus {
        box-shadow: 0 4px 20px rgba(3, 102, 208, 0.5);
        outline: none;
    }
    
    .search-heading {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        color: darkblue;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    th {
        background-color: #0366d0;
        color: white;
        padding: 10px;
        text-align: left;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        color: white;
    }
    
    td {
        padding: 10px;
        border: 1px solid #0366d0;
        text-align: center;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        color: darkblue;
    }

    body {
        background-color: rgba(0, 255, 255, 0.286);
    }
    
    h1 {
        text-align: center;
        font-family: 'Roboto';
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        color: darkblue;
    }
    
    p {
        text-align: center;
        font-family: 'Merriweather';
        font-size: 22px;
        font-weight: 400;
        line-height: 38px;
        color: darkblue;
    }
        
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 100px;
    }
    
}

@media screen and (max-width: 500px) {
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #search-input {
        padding: 10px;
        width: 200px;
        border: 1px solid #0366d0;
        border-radius: 4px;
        transition: box-shadow 0.3s ease;
    }

    #search-input:focus {
        box-shadow: 0 4px 20px rgba(3, 102, 208, 0.5);
        outline: none;
    }
    
    .search-heading {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        color: darkblue;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    th {
        background-color: #0366d0;
        color: white;
        padding: 10px;
        text-align: left;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        color: white;
    }
    
    td {
        padding: 5px;
        border: 1px solid #0366d0;
        text-align: center;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
        color: darkblue;
    }

    body {
        background-color: rgba(0, 255, 255, 0.286);
    }
    
    h1 {
        text-align: center;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
        color: darkblue;
    }
    
    p {
        text-align: center;
        font-family: 'Merriweather';
        font-size: 18px;
        font-weight: 400;
        line-height: 38px;
        color: darkblue;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 50px;
    }
    
}